body, main, header, nav, article, section, footer, ul, li{
    display: flex;
    flex: 0 1 auto;
    margin: 0;
    padding: 0;
}
body{
   flex-direction: row;
   justify-content: center;
   background-image: url(img/bg_forest.jpg);
   background-size:cover;
   font-family: Arial, Helvetica, sans-serif;
}
main{
    flex: 0.5 1 auto;
    min-width: 500px;
    max-width: 900px;
    flex-direction: column;
    background-image: linear-gradient(gray, #404040, #404040, #404040);
    border: 2px solid black;
    border-radius: 8px;
}
header{
    justify-content: center;
    
}
ul{
    flex: 1 1 auto;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}
li{
    flex: 0.1 1 auto;
    justify-content: center;
    transition: 0.2s;
}
li:hover{
    background-color: gray;
}
li a{
    transition: 0.2s;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
li a:hover{
    color: lightgray;
    font-size: 19px;
    margin-top: 9px;
    margin-bottom:9px;
}
a:link{
    text-decoration: none;
    color:black;
}
a:visited{
    color:black;
}
article{
    margin:20px;
}
section{
    margin:10px;
}
footer{
    margin:10px;
    justify-content: center;
}




