*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #181818;
}

header{
    height: 50px;
    width: 100%;
    background-color: #842000;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar{
    background-color: #181818;
    height: 50px;
    width: 40%;
    border-radius: 35px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
}

button{
    background-color: transparent;
    border: none;
}

.searchbar{
    border: none;
    background-color: #181818;
    height: 40px;
    outline: none;
    color: #aaaaaa;
    font-size: 28px;
    margin-left: 20px;
    transform: translateY(2px);
}
.searchbar::placeholder{
    color: #7a7a7a;
    font-size: 24px;
}

.btn{
    padding: 10px;
    border: #787878 solid 2px;
    background-color: transparent;
    border-radius: 30px;
    font-size: 20px;
    vertical-align: middle;
    transform: translateY(10%);
    padding: 5px 10px 5px 10px;
}

.btn:hover{
    background-color: #1d1d1d;
}

img{
    height: auto;
    border-radius: 30px;
}

main{
    margin: auto;
    width: 65%;
    color: yellow;
    display: flex;
    flex-direction: column;
}

#userContent{
    margin-top: 50px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.column{
    display:flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
}

.uData{
    margin: 50px;
    margin-bottom: 0;
    border-style: solid;
    border-color: #842000;
    border-width: 2px;
    padding: 10px;
    border-radius: 30px;
}

.imgPfp{
    width: 100px;
    border-radius: 50px;
    float: left;
}

.imgAthrOpt{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    width: 100%;
}
.imgOpt{
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}